In [1]:
import pandas as pd
from PIL import Image
import numpy as np
import os
import pickle

In [2]:
def to_array(file):                                     # 输入一个地址
    image = Image.open(file)                            # 读取图片
    im_array = np.array(image)                          # 转换成array
    return im_array

In [3]:
df_train = pd.DataFrame({'img': [], 'label': []})  # 创建DataFrame
df_test = pd.DataFrame({'img': [], 'label': []})

In [4]:
for i in range(10):
    for path in os.listdir('./MNIST_Dataset/train_images/' + str(i)):
        img_file = './MNIST_Dataset/train_images/' + str(i) + '/' + path
        df_train = df_train.append(pd.DataFrame({'img': [to_array(img_file)], 'label': [int(i)]}))

In [5]:
for path in os.listdir('./MNIST_Dataset/test_images/'):
    img_file = './MNIST_Dataset/test_images/' + path
    df_test = df_test.append(pd.DataFrame({'img': [to_array(img_file)], 'label': [int(path[0])]}))

In [6]:
df_train['label'] = df_train['label'].astype("int")    # 转换label列为int
df_test['label'] = df_test['label'].astype("int")

In [7]:
with open('save/train.pickle','wb')as f:    # save
    pickle.dump(df_train,f)
with open('save/test.pickle','wb')as f:
    pickle.dump(df_test,f)

In [8]:
with open('save/train.pickle','rb')as f:    # restore
    df1 = pickle.load(f)
with open('save/test.pickle','rb')as f: 
    df2 = pickle.load(f)

In [9]:
df1

                                                  img  label
0   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 1, 0, 0, 0,...      0
0   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0,...      0
0   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 1, 0, 2,...      0
0   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,...      0
0   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0,...      0
..                                                ...    ...
0   [[0, 2, 1, 0, 1, 0, 1, 2, 0, 0, 0, 0, 2, 0, 0,...      9
0   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,...      9
0   [[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0,...      9
0   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0,...      9
0   [[0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 2,...      9

[60000 rows x 2 columns]

(2,)